@media (min-width: 992px) {
    .gridtable {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .gridtable {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .gridtable {
        grid-template-columns: 1fr;
    }
}
section#destinos {
    padding: 12.5rem 5%;
}
.gridtable {
    display: grid;
    gap: 3.125rem;
    padding: .625rem;
}
.gridtable article {
    outline: 4px solid var(--claro);
    height: 25rem;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#destinos article:hover div {
    transform: translateY(-9.41rem);
}
article.bali {
    background-image: url('../assets/bali.jpg');
    background-position: center;
}
article.morocco {
    background-image: url('../assets/morocco.jpg');
    background-position: center;
}
article.hawaii {
    background-image: url('../assets/hawaii.jpg');
    background-position: center;
}
article.japan {
    background-image: url('../assets/japan.jpg');
    background-position: center;
}
article.galiza {
    background-image: url('../assets/finisterre.jpg');
    background-position: center;
}
article.islandia {
    background-image: url('../assets/islandia.jpg');
    background-position: center;
}
#destinos article div {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Share Tech Mono';
    font-weight: 900;
    color: var(--claro);
    background: var(--bgopacidad);
    width:-moz-fit-content;
    width: fit-content;
    padding: 5px 10px;
    transform: translateY(0rem);
    transition: all 1s ease;
}
.gridtable article:after {
    content: "";
    width: 100%;
    height: 75%;
    position: absolute;
    display: block;
    bottom: -18.75rem;
    background: var(--bgopacidad);
    -webkit-backdrop-filter: blur(.0625rem);
    backdrop-filter: blur(.0625rem);
    z-index: 0;
    transition: all 1s ease;
}
.gridtable article:hover:after {
    bottom: 0rem;
}
.gridtable .descripcion {
    position: absolute;
    text-align: justify;
    padding: 1.25rem;
    font-family: 'Poppins';
    font-size: .875rem;
    color: var(--claro);
    z-index: 1;
    width: 100%;
    height: 75%;
    bottom: -18.75rem;
    transition: all 1s ease;
    overflow: scroll;
}
.gridtable article:hover .descripcion {
    bottom: 0rem;
}