#precios .gridtable {
    display: flex;
    gap: 1.25rem 3.125rem;
    padding: .625rem;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 1.25rem auto;
}
#precios article {
    width: 30%;
    min-width: 18.75rem;
    background: var(--bgopacidad);
    color: var(--claro);
    font-family: 'Poppins';
    padding: 20px;
    text-align: justify;
}
section#precios {
    min-height: 90vh;
}
span.descripcion {
    border-bottom: 5px solid var(--acento);
    display: block;
    padding-bottom: 10px;
}
.gridtable h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
.gridtable div span {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: 'Share Tech Mono';
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 25px;
}